<!--
This is to process new lines as html p tags
would be easier if use replace
-->
<%
proccesPHTML = function(par){
  var all = par.split(/\r?\n/g)
  var done = "<p>"+ all[0] + '</p>'
  for(i = 1; i < all.length; i++){
    done+= '<p>' + all[i] + '</p>';
  }
  return done;
}
%>
