<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Blog</title>
    <script src="jquery.min.js"></script>
    <link rel="stylesheet" href="resources/css/bootstrap.min.css">
    <link rel="stylesheet" href="resources/app.css">
    <script src="app.js"></script>
</head>
<body>
  <%- include('partials/navBar') %>

  <% data = data.reverse(); if(data){for(i = 0 ; i < data.length; i++){ %>
    <div class="container" >
      <a href="/blog/<%= data[i].id %>" class="blogC">
    <div class="jumbotron">
        <h2 class=""><%= data[i].title %></h2>
        <p class="lead"><%= data[i].summary %></p>
      </div>
    </a>
    </div>
        <% } }%>

</body>
</html>
