<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Josue's Portolio</title>
    <link rel="stylesheet" href="resources/css/bootstrap.min.css">
    <link rel="stylesheet" href="resources/app.css">
    <script src="jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body class="">
  <%- include partials/navBar %>
  <%- include home/normalView %>
<div id="slideView">
</div>
</body>
<script src="app.js"></script>
</html>
