<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Josue's Portolio</title>
    <link rel="stylesheet" href="resources/css/bootstrap.min.css">
    <link rel="stylesheet" href="resources/app.css">
    <script src="jquery.min.js"></script>

</head>
<body class="">
  <%- include partials/navBar %>
  <%- include home/normalView %>

</body>
<script src="app.js"></script>
</html>
