<div class="container slideBox">
  <div class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <% if(data){for(j = 0 ; j < data.length; j++){ %>
        <li data-target="#myCarousel" data-slide-to="<%= j %>" class=<% if(j==0 ){ %>"active"<% }%>></li>
        <% } }%>
    </ol>
    <div class="carousel-inner">
      <% if(data){for(l = 0 ; l < data.length; l++){ %>
        <div class="item active">
          <div id="top<%= l %>" class="invi" onclick=""></div>
          <iframe src="<%= data[l].url %>"> </iframe>
        </div>
        <% } }%>
    </div>

  </div>
</div>
