
<p id="info"></p>
<div id="geoBoxAdd" class="well">
  <strong>Add your coordinates</strong>
  <br />
  <center>
    <button type="button" class="btn btn-danger" onclick="addGeo()">Add</button>
    <button type="button" class="btn btn-warning" onclick="hideGeoBox()">Nah!</button>
  </center>
</div>
<div id="geoBox" onclick="hideGeoBox()">
</div>
