
<p id="info">This is to show previous visitor locations (with permission of course)</p>
<div id="geoBoxAdd" class="well" <% if(showR == 0){ %>style="display:none;" <% } %>>
  <center>
  <strong>Add your coordinates</strong>
  <br /> Latitude: <b id="lat"> </b>
  <br /> Longitude: <b id="lng"> </b>
  <br />
    <button type="button" class="btn btn-danger" onclick="postGeo()">Add</button>
    <button type="button" class="btn btn-warning" onclick="hideGeoBox()">Nah!</button>
  </center>
</div>
<div id="geoBox" onclick="hideGeoBox()">
</div>
